
body {
    background-color: blanchedalmond;

}

.banner {
    align-items: center;
    position: relative;
    margin: 0px auto;
    width: 700px;
    overflow: hidden;
   
}

.banner__capa {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    z-index: 1;
    width: 100%;
    position: absolute;
    height: 700px;

}

.banner__lista {
    list-style: none;
    width: 100%;
    display: flex;
    animation: slide 20s infinite alternate;

}

.banner__lista__img {
    width: 100%;
    margin: 0px;
    padding: 0px;
    object-fit: cover;
    height: 700px;
}

@keyframes slide {
    0% {
        margin-left: 0px;
    }

    20% {
        margin-left: 0px;
    }


    25% {
        margin-left: -700px;
    }

    45% {
        margin-left: -700px;
    }


    50% {
        margin-left: -1400px;
    }

    70% {
        margin-left: -1400px;
    }


    75% {
        margin-left: -2100px;
    }

    100% {
        margin-left: -2100px;
    }

}

#logoTipo {
    bottom: 45px;
    position: absolute;
    width: 730px;
    z-index: 1;
}
