.footer {
    align-items: center;
    background: url(../imagen/footer.jpg) no-repeat center / cover;
    padding: 40px;
    display: flex;
    flex-direction: column;

}

.footer__lista {
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 500px;
}


.footer__lista__redesSociales img {
    width: 50px;
    text-align: center;
}

.footer__whatsap {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: fixed;
    bottom: 178px;
}


.whatsap {
    margin: 0px 20px;
}

.whatsap:hover {
    opacity: 0.5;
    cursor: pointer;
}

.copyright {
    color: darkgoldenrod;
    font-size: 13px;
    margin: 20px;
}